<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.wt.mapper.StaffMapper">
  <select id="selectStaff" resultType="com.wt.entity.Staff">
  	select * from staff where staffId=#{staffId}
  </select>
    <select id="findTeacher" resultType="Staff">
    select * from staff
     <where>
      <if test="classType=='JAVA'">
        position ="JAVA教员"
      </if>
       <if test="classType=='UI'">
         position ="UI教员"
       </if>
       <if test="classType=='请选择'">
            and staffId=-1
       </if>
    </where>
    </select>
    <select id="findStaffId" resultType="Integer">
        select staffId from staff where staffName=#{staffName}
    </select>
    <select id="selectAllTeacher" resultType="Staff">
        select staff.* from staff where staff.position='JAVA教员' or staff.position='UI教员'
    </select>
  </mapper>